@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.App {
  text-align: center;
  color: #282c34;
  font-family: 'Lexend', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ajuste del contenido principal para que no se superponga con el sidebar */
.content {
  margin-left: 300px; /* Asegúrate de que coincide con el ancho del sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Añade un margen superior a todo el contenido para evitar que se superponga en la parte superior */
.main-content {
  margin-top: 60px; /* Ajusta este valor según el espacio que necesites */
  padding: 20px;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  overflow-y: auto;
}


/* Cuando el sidebar está cerrado */
.sidebar.closed + .content {
  margin-left: 0;
  padding: 20px; /* Asegura que el contenido no esté pegado al borde */
}
